
<div class="container">
    <h1>Welcome to Bookers!!</h1>
    <div class="bookers-description">
        <h3>Bookersとは・・・</h3>
        <p>様々な書籍に関するあなたの意見や印象を、みんなに共有できるアプリです。</p>
    </div>
    <button class="start-link">
        <%= link_to 'Bookers START', books_path, class:"start-text" %>
    </button>
</div>
